html {
    padding: 0 25px;
}
.hidden {
    display: none;
}
.logo {
    display: block;
    width: 400px;
    margin: 100px auto 20px auto;
}
@media (orientation: portrait) and (max-width: 720px) {
    .logo {
        width: 90%;
    }
}
.welogo {
    display: block;
    max-height: 100px;
    margin: 0 auto;
}
.project {
    background: #ddd;
    margin: 25px;
    padding: 25px;
    flex: 150px;
    border-radius: 25px;
}
.comingsoon {
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }
    .project {
        background: #222;
    }
    .comingsoon {
        color: white;
    }
}